In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [34]:
def ddV(x):
    return (-16.8 + 19.2*x - 4.8*x**2)/(math.exp((-2 + x)**2)) + (2. - 4.0 * x**2)/(math.exp(x**2))

In [39]:
m = 1 #kg
v0 = 0
x0 = 2.8 #m
n = 0
A = np.zeros((5,2,2))
dt = 0.01
alpha = 0

In [40]:
x=x0
A[0][0][0] = 1
A[0][0][1] = -dt/2
A[0][1][0] = (dt/2*m) * ddV(x)
A[0][1][1] = 1 + alpha*dt/2

In [41]:
pd.DataFrame(A[0])

          0      1
0  1.000000 -0.005
1 -0.001829  1.000

In [ ]:
from scipy.optimize import fsolve

def equations(p):
    x, y = p
    return (x+y**2-4, math.exp(x) + x*y - 3)

x, y =  fsolve(equations, (1, 1))

print equations((x, y))